<!-- SKELETON CARGANDO -->
<ion-grid style="overflow: hidden; position: fixed; width: 100%;" *ngIf="tipoCategoria.length == 0">
  <ion-row>
    <ion-col size="6" size-sm="6" size-md="4" size-lg="3" *ngFor="let item of [0,1,2,3,4,5,6,7,8,9]">
      <ion-skeleton-text animated style="width: 100%; height: 200px;"></ion-skeleton-text>
    </ion-col>
  </ion-row>
</ion-grid>

<!-- CARROUSEL DE CATEGORIAS SIN ICONO-->
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" scrollable mode="md" [value]="categoriaSeleccionada">
      <div *ngFor="let categoria of categorias">
        <ion-segment-button value="{{categoria.nombre}}">
          <ion-label>{{categoria.nombre}}</ion-label>
        </ion-segment-button>
      </div>
    </ion-segment>
  </ion-toolbar>

<!-- MOSTRAR ITEMS -->

<ion-grid *ngIf=" tipousuario == 'dAuditiva' " class="categories">
  <ion-row>
    <ng-container *ngFor="let categoria of tipoCategoria">
      <ion-col *ngIf="categoria.discapacidadAuditiva" size="6" size-sm="6" size-md="4" size-lg="3" >
        <div (click)="mostrarItem(categoria, categoriaSeleccionada)">
          <ion-img src="{{categoria.logo}}"></ion-img>
          <ion-item lines="none">
            <ion-icon *ngIf="categoria.discapacidadAuditiva" slot="end" [src]=da></ion-icon>
            <ion-icon *ngIf="categoria.discapacidadFisica"   slot="end" [src]=df></ion-icon>
            <ion-icon *ngIf="categoria.discapacidadVisual"   slot="end" [src]=dv></ion-icon>
          </ion-item>
          <h4>{{categoria.nombre}}</h4>
          <p>{{categoria.direccion}}</p>
          <ion-note>{{categoria.telefono}}</ion-note>
        </div>
      </ion-col>
    </ng-container>
  </ion-row>
</ion-grid>

<ion-grid *ngIf=" tipousuario == 'dFisica' " class="categories">
  <ion-row>
    <ng-container *ngFor="let categoria of tipoCategoria" >
      <ion-col *ngIf="categoria.discapacidadFisica" size="6" size-sm="6" size-md="4" size-lg="3" >
        <div (click)="mostrarItem(categoria, categoriaSeleccionada)">
          <ion-img src="{{categoria.logo}}"></ion-img>
          <ion-item lines="none">
            <ion-icon *ngIf="categoria.discapacidadAuditiva" slot="end" [src]=da></ion-icon>
            <ion-icon *ngIf="categoria.discapacidadFisica"   slot="end" [src]=df></ion-icon>
            <ion-icon *ngIf="categoria.discapacidadVisual"   slot="end" [src]=dv></ion-icon>
          </ion-item>
          <h4>{{categoria.nombre}}</h4>
          <p>{{categoria.direccion}}</p>
          <ion-note>{{categoria.telefono}}</ion-note>
        </div>
      </ion-col>
    </ng-container>
  </ion-row>
</ion-grid>

<ion-grid *ngIf=" tipousuario == 'dVisual' " class="categories">
  <ion-row>
    <ng-container *ngFor="let categoria of tipoCategoria" >
      <ion-col *ngIf="categoria.discapacidadVisual" size="6" size-sm="6" size-md="4" size-lg="3" >
        <div (click)="mostrarItem(categoria, categoriaSeleccionada)">
          <ion-img src="{{categoria.logo}}"></ion-img>
          <ion-item lines="none">
            <ion-icon *ngIf="categoria.discapacidadAuditiva" slot="end" [src]=da></ion-icon>
            <ion-icon *ngIf="categoria.discapacidadFisica"   slot="end" [src]=df></ion-icon>
            <ion-icon *ngIf="categoria.discapacidadVisual"   slot="end" [src]=dv></ion-icon>
          </ion-item>
          <h4>{{categoria.nombre}}</h4>
          <p>{{categoria.direccion}}</p>
          <ion-note>{{categoria.telefono}}</ion-note>
        </div>
      </ion-col>
    </ng-container>
  </ion-row>
</ion-grid>

