<ion-content>

  <app-app-name-header></app-app-name-header>

  <ion-text>
    <h3>Favoritos</h3>
  </ion-text>  

    <ion-list>
      <ng-container *ngFor="let categoria of result">
        <h3 class="ion-padding">{{ categoria }}</h3>
        <ng-container *ngFor="let favorito of favoritos">

        <ion-col size="12" *ngIf="categoria == favorito.categoria" (click)="mostrarItem(favorito, favorito.categoria)">
          <ion-item>
              <ion-thumbnail slot="end">
                  <img [src]=favorito.logo>
              </ion-thumbnail>    
            <ion-label>
              <h2>{{ favorito.nombre }}</h2>
              <h3>{{favorito.direccion}}</h3>
              <p>{{ favorito.telefono}}</p>
            </ion-label>
          </ion-item>
        </ion-col>

    </ng-container>

    </ng-container>
      
    </ion-list>

    
    </ion-content>