.categories{
    overflow: hidden;
    padding: 5px;

    ion-col{

        div{
            border: 1px solid #ccc;
            padding: 5px;

            ion-img{
                width: auto;
                height: auto;
                padding: 0px;
                margin: 0px;
            }
    
            ion-item{
                font-size: medium;
            }
    
            h4{
                margin: 0px;
            }
        }
    }
}