<!-- CARROUSEL DE CATEGORIAS -->
<ion-segment (ionChange)="segmentChanged($event)" scrollable mode="md" [value]="categoriaSeleccionada">
  <div *ngFor="let categoria of categorias">
    <ion-segment-button value="{{categoria.nombre}}">
      <ion-icon name="{{categoria.icono}}"></ion-icon>
      <hr>
      <ion-label>{{categoria.nombre}}</ion-label>
    </ion-segment-button>
  </div>
</ion-segment>


<!-- SKELETON CARGANDO -->
<ion-grid style="overflow: hidden; position: fixed; width: 100%;" *ngIf="tipoCategoria.length == 0">
  <ion-row>
    <ion-col size="6" size-sm="6" size-md="4" size-lg="3" *ngFor="let item of [0,1,2,3,4,5,6,7,8,9]">
      <ion-skeleton-text animated style="width: 100%; height: 200px;"></ion-skeleton-text>
    </ion-col>
  </ion-row>
</ion-grid>


<!-- MOSTRAR ITEMS -->
<ion-grid>
  <ion-row>
    <ion-col size="6" size-sm="6" size-md="4" size-lg="3" *ngFor="let categoria of tipoCategoria">
      <div (click)="mostrarItem(categoria, categoriaSeleccionada)">
        <ion-card>
          <ion-card-header>
            <ion-img src="{{categoria.logo}}"></ion-img>
            <ion-item>
              <ion-icon *ngIf="categoria.discapacidadAuditiva" slot="end" [src]=da></ion-icon>
              <ion-icon *ngIf="categoria.discapacidadFisica"   slot="end" [src]=df></ion-icon>
              <ion-icon *ngIf="categoria.discapacidadVisual"   slot="end" [src]=dv></ion-icon>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            <h3>{{categoria.nombre}}</h3>
            <p>{{categoria.direccion}}</p>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>