
<ion-content [fullscreen]="true">
  
  <app-app-name-header></app-app-name-header>

  <ion-text>
    <h3>Seleccione el tipo de usuario</h3>
  </ion-text>

<ion-list>
  <ion-col size="12" *ngFor="let usuario of usuarios">
    <ion-item detail (click)="gotoTDU(usuario.id)">
      <ion-icon [src]=usuario.icono slot="start" color="primary"></ion-icon>

      <ion-text>
        <p>{{ usuario.nombre }}</p>
        <!-- <h3>descripcion 1</h3>
        <p>descripcion 2</p> -->
      </ion-text>
    </ion-item>
  </ion-col>
</ion-list>

</ion-content>
