.events-slider {

    img{
        width: fit-content;
        height: 100%;
    }

    ion-label{
        width: 100px;
    }
}

.categories-slider {
    ion-slide {
        width: 100px;
        height: auto;
        ion-col {
            ion-icon {
                font-size: 25px;
                object-fit: cover;
                margin-top: 15px;
                margin-bottom: 15px;
            }

            ion-label {
                text-align: center;
                font-size: small;
            }
        }
    }
}

.list{
    ion-col{
        margin: 10px;
        border-width: .01em;
        border-style: outset;
    }

}

